/*
----------------------------------------
1. General Style 
----------------------------------------
*/
body {
  background: #000;
  -webkit-font-smoothing: antialiased;
  font: 15px arial;
  color: #fff
}

h1 {
  color: #ebebeb;
  text-align: left
}

/*
----------------------------------------
[1] Selection
----------------------------------------
*/
::selection {
  background: #fff;
  color: #20b47e
}

::-webkit-scrollbar {
  width: 10px;
  display: none
}

/*
----------------------------------------
[1] Misc Css
----------------------------------------
*/
.hal {
  text-align: center;
  margin-left: 50px;
  font-size: 10rem;
  font-weight: 700;
  padding-bottom: 10px;
  color: #fff;
}



body::after,
body::before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 8px;
  z-index: 9999;
  border-radius: 0 0 5px 5px
}

body::before {
  left: 0;
  background: linear-gradient(#000, #036c45, #048c5c, #04aa6d, #000);
  animation: lightEmittingBorder 4s infinite
}

body::after {
  right: 0;
  background: linear-gradient(#000, #036c45, #048c5c, #04aa6d, #000);
  animation: lightEmittingBorder 4s infinite
}

@keyframes lightEmittingBorder {
  0% {
    height: 0;
    opacity: 0
  }

  50% {
    height: 100%;
    opacity: 1
  }

  100% {
    height: 0;
    opacity: 0
  }
}


  /*
----------------------------------------
Master Navigation Panel
----------------------------------------
*/
.nav-bar {
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  text-align: center
}

.nav-bar h1 {
  color: #ffffff9d;
  font-size: 35px;
  margin-left: 10px;
  flex-grow: 1;
}

.nav-bar h1:hover {
  background: -webkit-linear-gradient(25deg, #049faa, #03346c, #5920b4, #8c048c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.nav-bar img {
  height: 10%;
  width: 5%
}

.nav-bar ul {
  display: inline-flex;
  list-style: none;
  transition: all .3s ease-in-out 0s
}

.nav-bar ul li {
  width: 120px;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: .5s ease
}

.nav-bar ul li a {
  text-decoration: none;
  color: #989b9a;
  font-size: 15px
}

.nav-bar ul li a:hover {
  color: #fff
}

@media screen and (max-width:768px) {
  .menu-tab {
    background-color: transparent;
    position: sticky;
    background-color: #000000bd;
    backdrop-filter: blur(10px);
    margin: 10px;
    padding: 10px;
    border-radius: 10px
  }

  .menu-tab ul {
    flex-wrap: wrap;
    padding: 1px
  }

  .menu-tab ul li {
    text-align: center;
    margin: 1px
  }

  .menu-tab h1 {
    display: none
  }
}

.nav-bar .fas {
  margin-right: 1px
}

.nav-bar ul li:hover {
  background-color: #04aa6d;
  border-radius: 50px;
  box-shadow: 0 0 20px 15px #036c45
}




/*
----------------------------------------
Footer
----------------------------------------
*/

.footer {
  background: linear-gradient(to right, #036c45, #0452aa, #048c5c, #04aa6d, #20b47e, #105072);
  background-size: 600% 600%;
  border-radius: 5px;
  margin: 0;
  animation: gradient 10s ease infinite;
  padding: 50px;
  text-size-adjust: auto;
  margin-top: 50px
}

@keyframes gradient {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}

.footericons {
  text-decoration: none;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center
}

.footericons i {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  padding: 5px;
  margin: 5px;
  color: #fff;
  background: #0000005e;
  border-radius: 50%
}

.footericons i:hover {
  background: #ffffff5e;
  border-radius: 50%;
  color: #000
}